<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Admin</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/admin">Admin</a></li>
          <li><a href="/user">User</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="app">
        <h1>Welcome on the Admin section</h1>
      </div>
      <a href="/" class="cta">Back to Home</a>
    </main>
  </body>
</html>
