doctype html
html
  head
    title #{title}
    link(rel="stylesheet" href="/styles.css")
  body
    nav
      ul
        li: a(href="/" class=(activePage === 'home' ? 'active' : '')) Home
        li: a(href="/add-product" class=(activePage === 'add-product' ? 'active' : '')) Add Product
        li: a(href="/cart" class=(activePage === 'cart' ? 'active' : '')) Cart
    block content
